configuration {
    show-icons: true;
    font: "Hack Nerd Font 10";
    modi: "window,run,drun,ssh,combi,filebrowser";
    display-ssh:    "󰣀 ssh:";
    display-run:    "󱓞 run:";
    display-drun:   "󰣖 apps:";
    display-window: "󱂬 window:";
    display-combi:  "󰕘 combi:";
    display-filebrowser: "󰉋 filebrowser:";

    dpi: 120;
}

@theme "gruvbox-material"
